# Database PostgreSQL

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=your_database_name
DATABASE_USER=postgres
DATABASE_PASSWORD=Danny12345

DATABASE_URL="postgresql://postgres:Danny12345@localhost:5432/your_database_name"


# Database Production Supabase
DATABASE_URL="postgresql://your_database_user:your_database_password@your_supabase_url:5432/your_database_name"

# JWT Secret Key
JWT_SECRET_KEY=your_jwt_secret_key

# Server Port
PORT=3000
